<div class="page-header">
  <h1>Board: <%= @board.title %>
    <small>
      <%= @board.description %>
      <a href="/boards" class="btn btn-default">
        Back
      </a>
      <a href="/boards/14/edit" class="btn btn-default">
        Edit
      </a>
      <a href="/delete_board/14" class="btn btn-default" rel="nofollow">
        Delete
      </a>
    </small>
  </h1>
  
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      

    </dl>

    
  </div>
</div>
